<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details</title>
  </head>
  <body>
    <ul>
      <% for (var i=0;i<products.length;i++) {%>
      <li> <%= products[i].Id %>, <%= products[i].Name %>, <%= products[i].Price %>, <%= products[i].Category %> %> </li>
      <% } %>
    </ul>
    <table>
        
        <tr>
            <% for (key in products[0]) {%>
            <th>
                <%= key %>
            </th>
           <% }  %>
        </tr>
        <% for (const product of products) {%>
        <tr>
            <% for (key in product) {%>
            <td>
                <%= product[key] %>
            </td>
           <% }  %>
        </tr>
        <% }%>
    </table>
  </body>
</html>
